html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    height: 100vh;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1.625rem 15%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;  
}

.header-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 26px;
    text-align: center;
    
}


/* awesome website */
.section-1 {
    display: flex; 
    align-items: center;
    background-color: #1F2937; 
    padding: 7.625rem 15%;
}   


.para-1 {
    max-width: 78%;
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.para-2 {
    color: #F9FAF8;
    font-size: 1.125rem;
    max-width: 82%;
    margin-bottom: 0.5rem;
    
}

.button-1 {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
    border-radius: 10px;
    width: 125px;
    font-size: 16px;
    border: none;
}

.placeholder {
    color: #E5E7EB; 
    text-align: center;
    background-color: grey; 
    padding: 7rem;
    flex-shrink: 0;
    width: 48%;
}










